*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   HEADER   */
header{
    background-color: orangered;
    height: 3rem;
    margin-bottom: 25px;
}

header i{
    color: white;
    padding: 0.25rem 0 0.25rem 0.5rem;
}

header .h_container{
    background-color: orangered;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    margin: auto;
    align-items: center;
}

header img{
    height: 2rem;
}

header .list-unstyled{
    list-style: none;
    display: flex;
}

a{
    padding: 0.25rem 0.5rem 0.25rem 0;
    color: white;
    text-decoration: none;
}

/* MAIN */

.container{
    width: 70%;
    margin: auto;
}

.products{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.card-body{
    padding: 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

.brand{
    color: gray;
    font-size: 1rem;
}

.title{
    font-size: 1.2rem;
    line-height: 1.1;
    margin-top: 0;
}

.price{
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;

    .old{
        color: red;
        text-decoration: line-through;
    }
}

/* IMMAGINE */

.card-media{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 350px;

    .image1{
        width: 100%;
        height: 100%;
        background-image: url(../img/1.webp);
        background-size: cover;
        background-position: center;
    }

    .image2{
        width: 100%;
        height: 100%;
        background-image: url(../img/2.webp);
        background-size: cover;
        background-position: center;
    }
}

.card-media:hover{
   .image1 {
    background-image: url(../img/1b.webp);
   }

   .image2 {
    background-image: url(../img/2b.webp);
   }
}
/* BADGE */

.badge{
    position: absolute;
    font-size: 1rem;  
}

 .discount{
        left: -3px;
        bottom: 10px;
        background-color: red;
        padding: 0 5px;
        font-size: 0.8rem;
        color: white;
    }

 .eco{
        left: 35px;
        bottom: 10px;
        background-color: green;
        color: white;
        padding: 0 8px;
        font-size: 0.8rem;
    }

.wish{
        position: absolute;
        top: 8px;
        right: 0;
        width: 36px;
        height: 36px;
        border: none;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            color: red;
        }
    }
